body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url('fonts/MuseoSans-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('fonts/MuseoSans-700.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tungsten';
  src: url('fonts/Tungsten-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tungsten Book';
  src: url('fonts/Tungsten-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.bold-text{
  font-weight: bold;
}
